<div class="dashboard">
    <h5>Dashboard</h5>
    <div class="starter">
        <h4>Welcome, {{user.name}}</h4>
        {{> _upload_btn}}
    </div>
    <div class="content">
        <p>Here are Your Master Pieces</p>
        {{#if tracks}}
        <table class="striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Title</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each tracks}}
                <tr class="card mb-2">
                    <td><img src="{{art}}" class="circle responsive-img" style="width: 80px;" alt="artwork"></td>
                    <td><a href="/dashboard/{{id}}">{{title}}</a></td>
                    <td>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</td>
                    <td>
                        <a href="/dashboard/edit/{{_id}}" class="btn-small btn-float mb-2">
                            <i class="fas fa-edit"></i>
                        </a>
                        <form action="/dashboard/del/{{id}}" method="POST">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn-small red">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                {{/each}}
        </table>
        {{else}}
        <p>You Do not Have Any Tracks</p>
        {{/if}}
    </div>